{{- define "main" }}

{{- if (and site.Params.profileMode.enabled .IsHome) }}
{{- partial "index_profile.html" . }}
{{- else }} {{/* if not profileMode */}}

{{- if not .IsHome | and .Title }}
<header class="page-header">
    {{- partial "breadcrumbs.html" . }}
    <h1>
        {{ .Title }}
    </h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description | markdownify }}
    </div>
    {{- end }}
</header>
{{- end }}

{{- if .Content }}
<div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
</div>
{{- end }}

<!-- 分类导航开始 -->
<div class="terms-gallery">
    <div class="terms-title">按分类筛选：</div>
    <ul class="terms-tags">
        <li>
            <a href="/fonts/" class="active">全部</a>
        </li>
        {{- range $name, $taxonomy := site.Taxonomies.categories }}
        {{- if and (ne $name "中文字体") (ne $name "免费字体") }}
        <li>
            <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize | lower }}/">{{ $name }}</a>
        </li>
        {{- end }}
        {{- end }}
        <li>
            <a href="/categories/中文字体/">中文字体</a>
        </li>
        <li>
            <a href="/categories/免费字体/">免费字体</a>
        </li>
    </ul>
</div>
<!-- 分类导航结束 -->

{{- $pages := union .RegularPages .Sections }}

{{- if .IsHome }}
{{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- $pages = where $pages "Params.hiddenInHomeList" "!=" "true" }}
{{- end }}

{{- $paginator := .Paginate $pages }}

{{- range $index, $page := $paginator.Pages }}

{{- $class := "post-entry" }}

{{- $user_preferred := or site.Params.disableSpecial1stPost site.Params.homeInfoParams }}
{{- if (and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) (not $user_preferred)) }}
{{- $class = "first-entry" }}
{{- end }}

<article class="{{ $class }}">
    {{- $isHidden := (.Param "cover.hiddenInList") | default (.Param "cover.hidden") | default false }}
    {{- partial "cover.html" (dict "cxt" . "IsSingle" false "isHidden" $isHidden) }}
    <header class="entry-header">
        <h2 class="entry-hint-parent">
            {{- .Title }}
        </h2>
    </header>
    {{- if (ne (.Param "hideSummary") true) }}
    <div class="entry-content">
        <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <footer class="entry-footer">
        {{- partial "post_meta.html" . -}}
    </footer>
    {{- end }}
    <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
</article>
{{- end }}

{{- if gt $paginator.TotalPages 1 }}
<footer class="page-footer">
    <nav class="pagination">
        {{- if $paginator.HasPrev }}
        <a class="prev" href="{{ $paginator.Prev.URL | absURL }}">
            «&nbsp;{{ i18n "prev_page" }}&nbsp;
            {{- if (.Param "ShowPageNums") }}
            {{- sub $paginator.PageNumber 1 }}/{{ $paginator.TotalPages }}
            {{- end }}
        </a>
        {{- end }}
        {{- if $paginator.HasNext }}
        <a class="next" href="{{ $paginator.Next.URL | absURL }}">
            {{- i18n "next_page" }}&nbsp;
            {{- if (.Param "ShowPageNums") }}
            {{- add 1 $paginator.PageNumber }}/{{ $paginator.TotalPages }}
            {{- end }}&nbsp;»
        </a>
        {{- end }}
    </nav>
</footer>
{{- end }}

{{- end }}{{/* end profileMode */}}

{{- end }}{{- /* end main */ -}}